$bg-color: #df0174
$size: 1em

$pri-Griffindor: #8C030E
$sec-Griffindor: #F29F05

$pri-Slytherin: #2F9602
$sec-Slytherin: #C8C8C8

$pri-Hufflepuff: #D98E04
$sec-Hufflepuff: #262626

$pri-hogwarts: #2E4053
$sec-hogwarts: #ABB2B9

$pri-Ravenclaw: #1475E9
$sec-Ravenclaw: #232346

@mixin HomeGryffindor($color)
  color: $pri-Griffindor

@mixin dchogwarts($color)
  background: $color
  color: texthogwarts($color)

@function texthogwarts($bgcolor)
  @if(lightness($bgcolor) > 50)
    @return $pri-hogwarts
  @else
    @return $sec-hogwarts

@mixin dcGryffindor($color)
  background: $color
  color: textGryffindor($color)

@function textGryffindor($bgcolor)
  @if(lightness($bgcolor) > 50)
    @return $pri-Griffindor
  @else
    @return $sec-Griffindor

@mixin HomeSlytherin($color)
  color: $pri-Slytherin

@mixin dcSlytherin($color)
  background: $color
  color: textSlytherin($color)

@function textSlytherin($bgcolor)
  @if(lightness($bgcolor) > 50)
    @return $pri-Slytherin
  @else
    @return $sec-Slytherin

@mixin HomeHufflepuff($color)
  color: $pri-Hufflepuff

@mixin dcHufflepuff($color)
  background: $color
  color: textHufflepuff($color)

@function textHufflepuff($bgcolor)
  @if(lightness($bgcolor) > 50)
    @return $pri-Hufflepuff
  @else
    @return $sec-Hufflepuff

@mixin HomeRavenclaw($color)
  color: $pri-Ravenclaw

@mixin dcRavenclaw($color)
  background: $color
  color: textRavenclaw($color)

@function textRavenclaw($bgcolor)
  @if(lightness($bgcolor) > 50)
    @return $pri-Ravenclaw
  @else
    @return $sec-Ravenclaw

body
  background-image: url("https://images4.alphacoders.com/173/173444.jpg")
  background-size: 100% 100%
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center 

.Gryffindor
    @include HomeGryffindor($pri-Griffindor)
.Slytherin
    @include HomeSlytherin($pri-Slytherin)
.Hufflepuff
    @include HomeHufflepuff($pri-Hufflepuff)
.Ravenclaw
    @include HomeRavenclaw($pri-Ravenclaw)

.Member
  @include dchogwarts($pri-hogwarts)
  
.GryffindorMember
    @include dcGryffindor($pri-Griffindor)
.SlytherinMember
    @include dcSlytherin($pri-Slytherin)
.HufflepuffMember
    @include dcHufflepuff($pri-Hufflepuff)
.RavenclawMember
    @include dcRavenclaw($pri-Ravenclaw)

.ImagSize
  width: 400px
  height: 400px

.cardSize
  width: 454px
  height: 800px

.Bloodimg
  width: 50px
  height: 50px
  background-image: none !important
  background-color: transparent


$font-title:    Harry P, Harry P

.head    
  font: 100% $font-title
  opacity: 0.5
  justify-content: center



@media (min-width: 1400px) 
  .banner
    width: 90%

  .img_banner
    width: 90%
    height: 90%

  .txt_banner
    font-size: 100%
    
@media (max-width: 1500px) 
  .banner        
    width: 90%

  .img_banner
    width: 90%
    height: 90%
  
  .txt_banner
    font-size: 100%
    
