<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="card-deck">
    <div *ngFor="let member of members" class="col">
      <div class="card {{member.house}}Member">
        <img
          src="{{member.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{member.name}}  {{member.lastName}}</h5>
          <p class="card-text" *ngIf="member.gender"><strong>Gender: </strong>{{member.gender}}</p>
          
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>